name: 6. Paratranz To Gt Lang

on:
  issues:
    types: [opened]

env:
  PARATRANZ_TOKEN: ${{ secrets.PARATRANZ_TOKEN }}
  PARATRANZ_PROJECT_ID: ${{ secrets.PARATRANZ_PROJECT_ID }}

  VALID_LABEL: 自动化:paratranz→gt-lang
  VALID_USER: ${{ github.repository_owner }}

  REPO_PATH: .repo.local.d

  CO_AUTHORED_BY: |
    Kiwi233 <huaxia0611@qq.com>
    MuXiu1997 <muxiu1997@muxiu1997.com>

jobs:
  check-and-parse-issue:
    if: contains(github.event.issue.labels.*.name, '自动化:paratranz→gt-lang')
    name: Check And Parse Issue
    runs-on: ubuntu-latest
    steps:
      - name: Run Script
        id: check-and-parse-issue
        uses: Kiwi233/Translation-of-GTNH/.github/actions/run-script@master
        with:
          script: parse-issue.ts
          args: paratranz-to-gt-lang
        env:
          GITHUB_ISSUE: ${{ toJSON(github.event.issue) }}
          VALID_LABEL: ${{ env.VALID_LABEL }}
          VALID_USER: ${{ env.VALID_USER }}
    outputs:
      passed: ${{ steps.check-and-parse-issue.outputs.passed }}
      branch: ${{ steps.check-and-parse-issue.outputs.branch }}

  close-issue:
    name: Close Issue
    needs: check-and-parse-issue
    if: ${{ needs.check-and-parse-issue.outputs.passed != 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Close Issue
        uses: peter-evans/close-issue@v2.0.0
        with:
          comment: |
            此模板仅由内部人员使用，已自动关闭。

  paratranz-to-gt-lang:
    name: Paratranz To Gt Lang
    needs: check-and-parse-issue
    if: ${{ needs.check-and-parse-issue.outputs.passed == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup Compare Repo
        uses: Kiwi233/Translation-of-GTNH/.github/actions/setup-compare-repo@master

      - name: Checkout Work Repo
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.check-and-parse-issue.outputs.branch }}
          path: ${{ env.REPO_PATH }}
          persist-credentials: false

      - name: Setup Bun
        uses: Kiwi233/Translation-of-GTNH/.github/actions/setup-bun@master

      - name: Run Script
        run: >-
          bun run src/index.ts from-paratranz:gt-lang
          --repo-path='${{ env.REPO_PATH }}'
          --issue='${{ github.event.issue.number }}'
          --message='[自动化] 更新 GT 语言文件'

      - name: Create PR
        uses: peter-evans/create-pull-request@v4.0.0
        with:
          title: '[自动化] 更新 GT 语言文件'
          labels: |
            自动化:paratranz→gt-lang
          body: |
            - 由 #${{ github.event.issue.number }} 触发
          base: ${{ needs.check-and-parse-issue.outputs.branch }}
          branch: automation/compare/${{ github.event.issue.number }}
          path: ${{ env.REPO_PATH }}
          delete-branch: true
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
