name: 0. Nightly Build

on:
  workflow_dispatch:
  schedule:
    # 中国时间每天凌晨 2 点
    - cron: '0 18 * * *'

env:
  PARATRANZ_TOKEN: ${{ secrets.PARATRANZ_TOKEN }}
  PARATRANZ_PROJECT_ID: ${{ secrets.PARATRANZ_PROJECT_ID }}

  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  REPO_PATH: .repo.local.d
  ASSETS_PATH: .assets.local.d

jobs:
  nightly-build:
    name: Nightly Build
    runs-on: ubuntu-latest
    steps:
      - name: Setup Compare Repo
        uses: Kiwi233/Translation-of-GTNH/.github/actions/setup-compare-repo@master

      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.REPO_PATH }}

      - name: Setup Bun
        uses: Kiwi233/Translation-of-GTNH/.github/actions/setup-bun@master

      - name: Setup Datetime Related Envs
        uses: Kiwi233/Translation-of-GTNH/.github/actions/run-script@master
        with:
          script: setup-nightly-build-datetime-envs.ts

      - name: ParaTranz To Quest Book
        run: >-
          bun run src/index.ts from-paratranz:quest-book
          --repo-path='${{ env.REPO_PATH }}'
      - name: ParaTranz To Lang And zs
        run: >-
          bun run src/index.ts from-paratranz:lang-zs
          --repo-path='${{ env.REPO_PATH }}'
      - name: ParaTranz To GT Lang
        run: >-
          bun run src/index.ts from-paratranz:gt-lang
          --repo-path='${{ env.REPO_PATH }}'

      - name: Build Nightly Assets
        uses: Kiwi233/Translation-of-GTNH/.github/actions/run-script@master
        with:
          script: release.ts
        env:
          IS_NIGHTLY_BUILD: 'true'
          ARCHIVE_NAME: nightly-${{ env.NB_LOCAL_DATE }}.7z

      - name: Push tag
        working-directory: ${{ env.REPO_PATH }}
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git checkout --orphan temp
          git reset HEAD -- .
          git commit --allow-empty -m "Nightly Build ${{ env.NB_LOCAL_DATE }} ${{ env.NB_LOCAL_TIME }}"
          git tag ${{ env.NB_TAG }}
          git push --delete origin ${{ env.NB_TAG }} || true
          git push origin ${{ env.NB_TAG }}
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.NB_TAG }}
          name: 每日构建 - ${{ env.NB_LOCAL_DATE }}
          body: |
            请阅读主页ReadMe以获知详细用法

            自动构建于 ${{ env.NB_LOCAL_DATE }} ${{ env.NB_LOCAL_TIME }}
          files: ${{ env.ASSETS_PATH }}/*

  cleanup-outdated-nightly-builds:
    name: Cleanup Outdated Nightly Builds
    runs-on: ubuntu-latest
    steps:
      - name: Setup Datetime Related Envs
        uses: Kiwi233/Translation-of-GTNH/.github/actions/run-script@master
        with:
          script: setup-nightly-build-datetime-envs.ts

      - name: Cleanup Outdated Nightly Builds
        uses: Kiwi233/Translation-of-GTNH/.github/actions/run-script@master
        with:
          script: cleanup-nightly-builds.ts
