name: 0. Release

on:
  push:
    tags:
      - '*'

env:
  REPO_PATH: .repo.local.d
  ASSETS_PATH: .assets.local.d

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.REPO_PATH }}

      - name: Build Release Assets
        uses: Kiwi233/Translation-of-GTNH/.github/actions/run-script@master
        with:
          script: release.ts
        env:
          ARCHIVE_NAME: ${{ github.ref_name }}.7z
          NEC_URL: https://raw.githubusercontent.com/Kiwi233/Translation-of-GTNH/NotEnoughCharacters/NotEnoughCharacters-1.6.1.jar
          NEC_NAME: NotEnoughCharacters-1.6.1.jar

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref_name }} 版本汉化
          body: |
            请阅读主页ReadMe以获知详细用法
          files: ${{ env.ASSETS_PATH }}/*
