name: Release

on:
  push:
    tags:
      - '*'

env:
  REPO_PATH: .repo
  ASSETS_PATH: .assets

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.REPO_PATH }}

      - name: Setup Bun
        uses: Kiwi233/Translation-of-GTNH/.github/actions/setup-bun@master

      - name: Build Release Assets
        env:
          ARCHIVE_NAME: ${{ github.ref_name }}.7z
          NEC_URL: https://raw.githubusercontent.com/Kiwi233/Translation-of-GTNH/NotEnoughCharacters/NotEnoughCharacters-1.6.1.jar
          NEC_NAME: NotEnoughCharacters-1.6.1.jar
        run: bun run -i ${{ env.REPO_PATH }}/.github/scripts/release.ts

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref_name }} 版本汉化
          body: |
            请阅读主页ReadMe以获知详细用法
          files: ${{ env.ASSETS_PATH }}/*
