name: Release

on:
  push:
    tags:
      - '*'

env:
  BUN_VERSION: 1.3.5
  BUN_INSTALL_CACHE_DIR: .bun-install-cache.local

  REPO_PATH: .repo
  ASSETS_PATH: .assets

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: ${{ env.REPO_PATH }}

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Setup Bun Global Module Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.BUN_INSTALL_CACHE_DIR }}
          key: bun-install-cache--${{ github.job }}

      - name: Build Release Assets
        env:
          ARCHIVE_NAME: ${{ github.ref_name }}.7z
          NEC_URL: https://raw.githubusercontent.com/Kiwi233/Translation-of-GTNH/NotEnoughCharacters/NotEnoughCharacters-1.6.1.jar
          NEC_NAME: NotEnoughCharacters-1.6.1.jar
        run: bun run -i ${{ env.REPO_PATH }}/.github/scripts/release.ts
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref_name }} 版本汉化
          body: |
            请阅读主页ReadMe以获知详细用法
          files: ${{ env.ASSETS_PATH }}/*
